body {
    margin: 0;
    font-family: URW Cruinn L;
    background-color: #e6e6e6e9;
    text-decoration: none;
}

main {
    justify-content: center;
    text-align:center;
    max-width:960px;
}

a{
    color:#12101d;
}

.cont {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #b788b3;
    color: #e7e3e3;
    padding: 20px 0;
}

.header-cont {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    width:200px; height: 150px;
    border-radius: 70%;
    background: url(logo.png);
    background-size: auto 140px;
}

.logo img {
    height: 10px;
    margin-left: 10px;
    float: none;
    margin: 0;
    position: center;
}

.site-title {
    margin: 0;
}

.site-link a{
    font-size: 20px;
    color: rgb(60, 25, 62);
    text-decoration: none;
}

.site-link a:hover{
    color: rgb(63, 19, 67);
}


.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-menu li {
    margin-left: 20px;
}



.main-menu a {
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.main-menu a:hover{
    color: rgb(154, 21, 172);
}


li{
    list-style-type:none;
}    

.tab {
    width: 100%;
    border-collapse: collapse;
    border: solid 3px #0c0808;
}

.tab th, .tab td {
    padding: 10px;
    text-align: left;
    border: solid 1px #000000;
}

.tab th {
    background-color: #aaaaaa9d;
    color: #000000;
    grid-column: auto;
    border: solid 1px #000000;
    text-align:left;
}

.tab tr:nth-child(even) {
    background-color: #c07eabb2;
}


.footer {
    background-color: #c07eabb2;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-cont {
    max-width: 960px;
    margin: 0 auto;
}
